// 全局默认颜色

// menu-color
$menuBg: #001529;
$menuLogo: #002140;
$menuActive: #4091f7;
$menuColor: rgba(254, 254, 254, 0.65);
$menuActiveColor: #fff;
$menuFont: 14px;
$menuFontWeight: 400;
$menuItemBg: #0f0303 !important;

//
