// 全局默认颜色

// menu-color
$menuBg: #262262;
$menuLogo: #002140;
$menuActive: #4091f7;
$menuColor: rgba(254, 254, 254, 0.65);
// $menuColor: rgba(254, 24, 25, 0.65);
$menuActiveColor: #fff;
$menuFont: 20px;
$menuFontWeight: 400;
$menuItemBg: #0f0303 !important;

$header:#ccc