@charset "UTF-8";

/* stylelint-enable */
/* 重置样式 */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
  border: 0 none;
  vertical-align: top;
}

i,
em {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #333;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#app {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

div:focus {
  outline: none;
}

label {
  font-weight: 700;
}
